In [1]:
import numpy as np
import pandas as pd

In [2]:
df_games = pd.read_csv('nba_games.csv')

In [3]:
df_players = pd.read_csv('nba_players_game_stats.csv')

In [4]:
df_players.head

<bound method NDFrame.head of          season_id  player_id             player_name     team_id  \
0            21950      77036  Bear, The Body Hoffman  1610610024
1            21950      78447            Paul Walther  1610610030
2            21950      77675              Ken Murray  1610610024
3            21950      77347               Bob Lavoy  1610610030
4            21950      77132           Arnie Johnson  1610612758
...            ...        ...                     ...         ...
1268206      32017     202331             Paul George  1610616833
1268207      32017     203078            Bradley Beal  1610616833
1268208      32017     201942           DeMar DeRozan  1610616834
1268209      32017     201143              Al Horford  1610616834
1268210      32017     203081          Damian Lillard  1610616834

        team_abbreviation               team_name   game_id   game_date  \
0                     BAL       Baltimore Bullets  25000009  1950-11-04
1                     INO  Indianapolis Olympians  25000009  1950-11-04
2                     BAL       Baltimore Bullets  25000009  1950-11-04
3                     INO  Indianapolis Olympians  25000009  1950-11-04
4                     ROC        Rochester Royals  25000012  1950-11-04
...                   ...                     ...       ...         ...
1268206               LBN             Team LeBron  31700001  2018-02-18
1268207               LBN             Team LeBron  31700001  2018-02-18
1268208               STP            Team Stephen  31700001  2018-02-18
1268209               STP            Team Stephen  31700001  2018-02-18
1268210               STP            Team Stephen  31700001  2018-02-18

             matchup wl  ...  ast  stl  blk  tov   pf  pts  plus_minus  \
0        BAL vs. INO  W  ...  NaN  NaN  NaN  NaN  NaN   11         NaN
1          INO @ BAL  L  ...  NaN  NaN  NaN  NaN  NaN   10         NaN
2        BAL vs. INO  W  ...  NaN  NaN  NaN  NaN  NaN    8         NaN
3          INO @ BAL  L  ...  NaN  NaN  NaN  NaN  NaN    9         NaN
4        ROC vs. FTW  W  ...  NaN  NaN  NaN  NaN  NaN   11         NaN
...              ... ..  ...  ...  ...  ...  ...  ...  ...         ...
1268206    LBN @ STP  W  ...  4.0  1.0  0.0  0.0  2.0   16        11.0
1268207    LBN @ STP  W  ...  0.0  1.0  0.0  1.0  1.0   14        -4.0
1268208  STP vs. LBN  L  ...  2.0  2.0  0.0  2.0  1.0   21         0.0
1268209  STP vs. LBN  L  ...  2.0  1.0  0.0  0.0  0.0    6         0.0
1268210  STP vs. LBN  L  ...  2.0  0.0  0.0  1.0  0.0   21        18.0

            season_type  season_year   season
0        Regular Season         1950  1950-51
1        Regular Season         1950  1950-51
2        Regular Season         1950  1950-51
3        Regular Season         1950  1950-51
4        Regular Season         1950  1950-51
...                 ...          ...      ...
1268206        All Star         2017  2017-18
1268207        All Star         2017  2017-18
1268208        All Star         2017  2017-18
1268209        All Star         2017  2017-18
1268210        All Star         2017  2017-18

[1268211 rows x 33 columns]>

In [5]:
df_players = df_players.loc[df_players['game_id'].isin(df_games['game_id'])]

In [6]:
df_players.head

<bound method NDFrame.head of          season_id  player_id      player_name     team_id team_abbreviation  \
912919       22006     101121      Joey Graham  1610612761               TOR
912920       22006     200801     Hassan Adams  1610612751               NJN
912921       22006     101181    Jose Calderon  1610612761               TOR
912922       22006       2743   Kris Humphries  1610612761               TOR
912923       22006     200745  Andrea Bargnani  1610612761               TOR
...            ...        ...              ...         ...               ...
1268183      42017     203918      Rodney Hood  1610612739               CLE
1268184      42017       2594      Kyle Korver  1610612739               CLE
1268185      42017     201588      George Hill  1610612739               CLE
1268186      42017     101181    Jose Calderon  1610612739               CLE
1268187      42017    1627775    Patrick McCaw  1610612744               GSW

                     team_name   game_id   game_date      matchup wl  ...  \
912919         Toronto Raptors  20600007  2006-11-01    TOR @ NJN  L  ...
912920         New Jersey Nets  20600007  2006-11-01  NJN vs. TOR  W  ...
912921         Toronto Raptors  20600007  2006-11-01    TOR @ NJN  L  ...
912922         Toronto Raptors  20600007  2006-11-01    TOR @ NJN  L  ...
912923         Toronto Raptors  20600007  2006-11-01    TOR @ NJN  L  ...
...                        ...       ...         ...          ... ..  ...
1268183    Cleveland Cavaliers  41700404  2018-06-08  CLE vs. GSW  L  ...
1268184    Cleveland Cavaliers  41700404  2018-06-08  CLE vs. GSW  L  ...
1268185    Cleveland Cavaliers  41700404  2018-06-08  CLE vs. GSW  L  ...
1268186    Cleveland Cavaliers  41700404  2018-06-08  CLE vs. GSW  L  ...
1268187  Golden State Warriors  41700404  2018-06-08    GSW @ CLE  W  ...

         ast  stl  blk  tov   pf  pts  plus_minus     season_type  \
912919   1.0  0.0  1.0  1.0  3.0    0        -5.0  Regular Season
912920   0.0  0.0  0.0  0.0  0.0    0        -4.0  Regular Season
912921   3.0  1.0  0.0  0.0  0.0    4        -8.0  Regular Season
912922   0.0  0.0  0.0  0.0  1.0    2        -6.0  Regular Season
912923   0.0  0.0  2.0  1.0  3.0    2         8.0  Regular Season
...      ...  ...  ...  ...  ...  ...         ...             ...
1268183  2.0  2.0  1.0  2.0  2.0   10        -1.0        Playoffs
1268184  1.0  0.0  0.0  1.0  2.0    2        -1.0        Playoffs
1268185  1.0  0.0  0.0  1.0  3.0    3       -26.0        Playoffs
1268186  1.0  1.0  0.0  0.0  0.0    0         2.0        Playoffs
1268187  0.0  0.0  0.0  0.0  0.0    0        -2.0        Playoffs

         season_year   season
912919          2006  2006-07
912920          2006  2006-07
912921          2006  2006-07
912922          2006  2006-07
912923          2006  2006-07
...              ...      ...
1268183         2017  2017-18
1268184         2017  2017-18
1268185         2017  2017-18
1268186         2017  2017-18
1268187         2017  2017-18

[309181 rows x 33 columns]>

In [7]:
df_players['game_id'].nunique()

14906

In [8]:
df_players.columns

Index(['season_id', 'player_id', 'player_name', 'team_id', 'team_abbreviation',
       'team_name', 'game_id', 'game_date', 'matchup', 'wl', 'min', 'fgm',
       'fga', 'fg_pct', 'fg3m', 'fg3a', 'fg3_pct', 'ftm', 'fta', 'ft_pct',
       'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts',
       'plus_minus', 'season_type', 'season_year', 'season'],
      dtype='object')

In [9]:
df_players.to_csv('nba_players_stats.csv')