In [27]:
import numpy as np
import pandas as pd

In [28]:
df_moneyline = pd.read_csv('nba_betting_money_line.csv')
df_spread = pd.read_csv('nba_betting_spread.csv')
df_total = pd.read_csv('nba_betting_totals.csv')

In [4]:
df_moneyline.head

<bound method NDFrame.head of          game_id        book_name  book_id     team_id   a_team_id  price1  \
0       41100314  Pinnacle Sports      238  1610612759  1610612760   165.0
1       41100314           5Dimes       19  1610612759  1610612760   165.0
2       41100314        Bookmaker       93  1610612759  1610612760   160.0
3       41100314        BetOnline     1096  1610612759  1610612760   165.0
4       41100314           Bovada   999996  1610612759  1610612760   155.0
...          ...              ...      ...         ...         ...     ...
125281  41700215         Heritage      169  1610612755  1610612738   105.0
125282  41700215        Intertops      180  1610612755  1610612738   100.0
125283  41700215         YouWager      139  1610612755  1610612738   105.0
125284  41700215          JustBet     1275  1610612755  1610612738   100.0
125285  41700215    Sportsbetting   999991  1610612755  1610612738   105.0

        price2
0       -183.0
1       -175.0
2       -190.0
3       -190.0
4       -175.0
...        ...
125281  -125.0
125282  -120.0
125283  -125.0
125284  -120.0
125285  -125.0

[125286 rows x 7 columns]>

In [29]:
df_moneyline = df_moneyline.rename(columns={'price1': 'moneyline_price1', 'price2': 'moneyline_price2'})

In [5]:
df_spread.head

<bound method NDFrame.head of          game_id        book_name  book_id     team_id   a_team_id  spread1  \
0       21000358  Pinnacle Sports      238  1610612749  1610612742      7.5
1       21000358           5Dimes       19  1610612749  1610612742      7.5
2       21000358        Bookmaker       93  1610612749  1610612742      7.5
3       21000358        BetOnline     1096  1610612749  1610612742      7.5
4       21000358           Bovada   999996  1610612749  1610612742      8.0
...          ...              ...      ...         ...         ...      ...
131685  21501153        BetOnline     1096  1610612738  1610612747     -9.0
131686  21501153           Bovada   999996  1610612738  1610612747     -9.5
131687  21501153         Heritage      169  1610612738  1610612747     -9.5
131688  21501153        Intertops      180  1610612738  1610612747     -9.5
131689  21501153         YouWager      139  1610612738  1610612747     -9.0

        spread2  price1  price2
0          -7.5  -106.0  -104.0
1          -7.5  -110.0  -110.0
2          -7.5  -110.0  -110.0
3          -7.5  -110.0  -110.0
4          -8.0  -115.0  -105.0
...         ...     ...     ...
131685      9.0  -110.0  -110.0
131686      9.5  -110.0  -110.0
131687      9.5  -105.0  -105.0
131688      9.5  -110.0  -110.0
131689      9.0  -110.0  -110.0

[131690 rows x 9 columns]>

In [30]:
df_spread = df_spread.rename(columns={'price1': 'spread_price1', 'price2': 'spread_price2'})

In [16]:
df_total.head

<bound method NDFrame.head of          game_id        book_name  book_id     team_id   a_team_id  total1  \
0       21100131  Pinnacle Sports      238  1610612740  1610612743   192.0
1       21100131           5Dimes       19  1610612740  1610612743   192.0
2       21100131        Bookmaker       93  1610612740  1610612743   192.0
3       21100131        BetOnline     1096  1610612740  1610612743   191.5
4       21100131           Bovada   999996  1610612740  1610612743   192.0
...          ...              ...      ...         ...         ...     ...
131381  41700215         Heritage      169  1610612755  1610612738   204.5
131382  41700215        Intertops      180  1610612755  1610612738   205.0
131383  41700215         YouWager      139  1610612755  1610612738   204.5
131384  41700215          JustBet     1275  1610612755  1610612738   204.0
131385  41700215    Sportsbetting   999991  1610612755  1610612738   204.5

        total2  price1  price2
0        192.0  -105.0  -105.0
1        192.0  -105.0  -105.0
2        192.0  -110.0  -110.0
3        191.5  -110.0  -110.0
4        192.0  -110.0  -110.0
...        ...     ...     ...
131381   204.5  -105.0  -105.0
131382   205.0  -110.0  -110.0
131383   204.5  -110.0  -110.0
131384   204.0  -110.0  -110.0
131385   204.5  -110.0  -110.0

[131386 rows x 9 columns]>

In [31]:
df_total = df_total.rename(columns={'price1': 'total_price1', 'price2': 'total_price2'})

In [32]:
df_moneyline['game_id'].nunique()

14906

In [33]:
df_spread['game_id'].nunique()

14914

In [34]:
df_total['game_id'].nunique()

14918

In [56]:
df_all = pd.merge(df_moneyline, df_spread, how='left', left_on=['game_id', 'book_id', 'book_name', 'team_id', 'a_team_id'], right_on = ['game_id', 'book_id', 'book_name', 'team_id', 'a_team_id'])

In [57]:
df_all = pd.merge(df_all, df_total, how='left', left_on=['game_id', 'book_id', 'book_name', 'team_id', 'a_team_id'], right_on = ['game_id', 'book_id', 'book_name', 'team_id', 'a_team_id'])

In [58]:
df_all['game_id'].nunique()

14906

In [59]:
df_all.head

<bound method NDFrame.head of          game_id        book_name  book_id     team_id   a_team_id  \
0       41100314  Pinnacle Sports      238  1610612759  1610612760
1       41100314           5Dimes       19  1610612759  1610612760
2       41100314        Bookmaker       93  1610612759  1610612760
3       41100314        BetOnline     1096  1610612759  1610612760
4       41100314           Bovada   999996  1610612759  1610612760
...          ...              ...      ...         ...         ...
125281  41700215         Heritage      169  1610612755  1610612738
125282  41700215        Intertops      180  1610612755  1610612738
125283  41700215         YouWager      139  1610612755  1610612738
125284  41700215          JustBet     1275  1610612755  1610612738
125285  41700215    Sportsbetting   999991  1610612755  1610612738

        moneyline_price1  moneyline_price2  spread1  spread2  spread_price1  \
0                  165.0            -183.0      3.5     -3.5          103.0
1                  165.0            -175.0      3.5     -3.5         -101.0
2                  160.0            -190.0      3.5     -3.5         -110.0
3                  165.0            -190.0      3.5     -3.5         -105.0
4                  155.0            -175.0      4.0     -4.0         -115.0
...                  ...               ...      ...      ...            ...
125281             105.0            -125.0      1.5     -1.5         -105.0
125282             100.0            -120.0      1.5     -1.5         -110.0
125283             105.0            -125.0      1.5     -1.5         -110.0
125284             100.0            -120.0      1.5     -1.5         -110.0
125285             105.0            -125.0      1.5     -1.5         -110.0

        spread_price2  total1  total2  total_price1  total_price2
0              -111.0   201.5   201.5        -102.0        -108.0
1              -109.0   202.0   202.0        -101.0        -109.0
2              -110.0   202.0   202.0        -110.0        -110.0
3              -115.0   202.0   202.0        -110.0        -110.0
4              -105.0   203.0   203.0        -105.0        -115.0
...               ...     ...     ...           ...           ...
125281         -105.0   204.5   204.5        -105.0        -105.0
125282         -110.0   205.0   205.0        -110.0        -110.0
125283         -110.0   204.5   204.5        -110.0        -110.0
125284         -110.0   204.0   204.0        -110.0        -110.0
125285         -110.0   204.5   204.5        -110.0        -110.0

[125286 rows x 15 columns]>

In [60]:
df_all.columns

Index(['game_id', 'book_name', 'book_id', 'team_id', 'a_team_id',
       'moneyline_price1', 'moneyline_price2', 'spread1', 'spread2',
       'spread_price1', 'spread_price2', 'total1', 'total2', 'total_price1',
       'total_price2'],
      dtype='object')

In [61]:
count = 0
for index, row in df_all.iterrows():
    if not (row['a_team_id_x'] == row['a_team_id_y'] and row['a_team_id_x'] == row['a_team_id']) and not (row['team_id_x'] == row['team_id_y'] and row['team_id_x'] == row['team_id']):
        print(row['team_id'], row['a_team_id'], row['team_id_x'], row['a_team_id_x'], row['team_id_y'], row['a_team_id_y'])
        count += 1
print(count)

KeyError: 'a_team_id_x'

In [50]:
count = 0
for index, row in df_all.iterrows():
    if not (row['a_team_id'] == row['a_team_id_x']):
        count += 1
print(count)

314

In [62]:
df_all['team_id'].isna().sum()

0

In [63]:
df_all.to_csv('nba_betting.csv', index=False)

In [64]:
df_all['game_id'].nunique()

14906

In [65]:
df_all.size

1879290

In [67]:
df_all['book_name'].nunique()

10

In [68]:
df_all['book_name'].unique()

array(['Pinnacle Sports', '5Dimes', 'Bookmaker', 'BetOnline', 'Bovada',
       'Heritage', 'Intertops', 'YouWager', 'JustBet', 'Sportsbetting'],
      dtype=object)