In [12]:
import numpy as np
import pandas as pd

In [13]:
df_player_stats = pd.read_csv('nba_players_stats.csv')

In [14]:
df_players = pd.read_csv('nba_players_all.csv')

In [16]:
df_players.head

<bound method NDFrame.head of       person_id display_last_comma_first   display_first_last rosterstatus  \
0         76001          Abdelnaby, Alaa       Alaa Abdelnaby            f
1         76002         Abdul-Aziz, Zaid      Zaid Abdul-Aziz            f
2         76003     Abdul-Jabbar, Kareem  Kareem Abdul-Jabbar            f
3            51      Abdul-Rauf, Mahmoud   Mahmoud Abdul-Rauf            f
4          1505       Abdul-Wahad, Tariq    Tariq Abdul-Wahad            f
...         ...                      ...                  ...          ...
4880        953         Wright, Lorenzen      Lorenzen Wright            f
4881       1007           Wright, Luther        Luther Wright            f
4882        412          Wright, Sharone       Sharone Wright            f
4883     203100             Wroten, Tony          Tony Wroten            f
4884      78627             Wynder, A.J.          A.J. Wynder            f

      from_year  to_year                   playercode games_played_flag  \
0        1990.0   1994.0       HISTADD_alaa_abdelnaby                 Y
1        1968.0   1977.0      HISTADD_zaid_abdul-aziz                 Y
2        1969.0   1988.0  HISTADD_kareem_abdul-jabbar                 Y
3        1990.0   2000.0           mahmoud_abdul-rauf                 Y
4        1997.0   2003.0            tariq_abdul-wahad                 Y
...         ...      ...                          ...               ...
4880     1996.0   2008.0              lorenzen_wright                 Y
4881     1993.0   1993.0                luther_wright                 Y
4882     1994.0   1997.0               sharone_wright                 Y
4883     2012.0   2015.0                  tony_wroten                 Y
4884     1990.0   1990.0            HISTADD_aj_wynder                 Y

            position  draft_year  ...  birth_date  height_feet  height_inches  \
0            Forward      1990.0  ...         NaN          6.0           10.0
1             Center      1968.0  ...         NaN          6.0            9.0
2             Center      1969.0  ...         NaN          7.0            2.0
3              Guard      1990.0  ...         NaN          6.0            1.0
4      Forward-Guard      1997.0  ...         NaN          6.0            6.0
...              ...         ...  ...         ...          ...            ...
4880  Forward-Center      1996.0  ...         NaN          6.0           11.0
4881          Center      1993.0  ...         NaN          7.0            2.0
4882             NaN      1994.0  ...         NaN          NaN            NaN
4883           Guard      2012.0  ...         NaN          6.0            6.0
4884           Guard         NaN  ...         NaN          6.0            2.0

        height  weight  season_exp  jersey           school country  \
0     6.833333   240.0           4      30             Duke     USA
1     6.750000   235.0           9      54       Iowa State     USA
2     7.166667   225.0          19      33             UCLA     USA
3     6.083333   162.0           8       1  Louisiana State     USA
4     6.500000   235.0           6       9   San Jose State  France
...        ...     ...         ...     ...              ...     ...
4880  6.916667   255.0          13      55          Memphis     USA
4881  7.166667   270.0           0      44       Seton Hall     USA
4882       NaN     NaN           3     NaN          Clemson     USA
4883  6.500000   205.0           4       5       Washington     USA
4884  6.166667   180.0           0      12        Fairfield     USA

           last_affiliation
0                  Duke/USA
1            Iowa State/USA
2                  UCLA/USA
3       Louisiana State/USA
4     San Jose State/France
...                     ...
4880            Memphis/USA
4881         Seton Hall/USA
4882            Clemson/USA
4883         Washington/USA
4884                  -/USA

[4885 rows x 22 columns]>

In [17]:
df_players = df_players.loc[df_players['person_id'].isin(df_player_stats['player_id'])]

In [18]:
df_players.head

<bound method NDFrame.head of       person_id display_last_comma_first   display_first_last rosterstatus  \
5           949     Abdur-Rahim, Shareef  Shareef Abdur-Rahim            f
9        203518            Abrines, Alex         Alex Abrines            t
10       101165              Acker, Alex           Alex Acker            f
14       203112              Acy, Quincy           Quincy Acy            t
17       200801            Adams, Hassan         Hassan Adams            f
...         ...                      ...                  ...          ...
4874    1626153            Wright, Delon         Delon Wright            t
4875       2748           Wright, Dorell        Dorell Wright            f
4878     201153           Wright, Julian        Julian Wright            f
4880        953         Wright, Lorenzen      Lorenzen Wright            f
4883     203100             Wroten, Tony          Tony Wroten            f

      from_year  to_year           playercode games_played_flag  \
5        1996.0   2007.0  shareef_abdur-rahim                 Y
9        2016.0   2018.0         alex_abrines                 Y
10       2005.0   2008.0           alex_acker                 Y
14       2012.0   2018.0           quincy_acy                 Y
17       2006.0   2008.0         hassan_adams                 Y
...         ...      ...                  ...               ...
4874     2015.0   2018.0         delon_wright                 Y
4875     2004.0   2015.0        dorell_wright                 Y
4878     2007.0   2010.0        julian_wright                 Y
4880     1996.0   2008.0      lorenzen_wright                 Y
4883     2012.0   2015.0          tony_wroten                 Y

            position  draft_year  ...  birth_date  height_feet  height_inches  \
5            Forward      1996.0  ...         NaN          6.0            9.0
9              Guard      2013.0  ...         NaN          6.0            6.0
10             Guard      2005.0  ...         NaN          6.0            5.0
14           Forward      2012.0  ...         NaN          6.0            7.0
17               NaN      2006.0  ...         NaN          NaN            NaN
...              ...         ...  ...         ...          ...            ...
4874           Guard      2015.0  ...         NaN          6.0            5.0
4875   Forward-Guard      2004.0  ...         NaN          6.0            9.0
4878         Forward      2007.0  ...         NaN          6.0            8.0
4880  Forward-Center      1996.0  ...         NaN          6.0           11.0
4883           Guard      2012.0  ...         NaN          6.0            6.0

        height  weight  season_exp  jersey                school country  \
5     6.750000   245.0          12       3            California     USA
9     6.500000   190.0           2       8                   NaN   Spain
10    6.416667   185.0           2       3            Pepperdine     USA
14    6.583333   240.0           6      13                Baylor     USA
17         NaN     NaN           1     NaN               Arizona     USA
...        ...     ...         ...     ...                   ...     ...
4874  6.416667   190.0           3      55                  Utah     USA
4875  6.750000   205.0          11      11  South Kent Prep (CT)     USA
4878  6.666667   225.0           4      14                Kansas     USA
4880  6.916667   255.0          13      55               Memphis     USA
4883  6.500000   205.0           4       5            Washington     USA

                 last_affiliation
5                  California/USA
9                     Spain/Spain
10                 Pepperdine/USA
14                     Baylor/USA
17                    Arizona/USA
...                           ...
4874                     Utah/USA
4875  South Kent Prep HS (CT)/USA
4878                   Kansas/USA
4880                  Memphis/USA
4883               Washington/USA

[1357 rows x 22 columns]>

In [19]:
df_players.to_csv('nba_players.csv')

In [20]:
df_players['person_id'].nunique()

1357

In [21]:
df_player_stats['player_id'].nunique()

1357